{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "scss/no-global-function-names": null,
    "no-descending-specificity": null,
    "selector-class-pattern": ".",
    "custom-property-pattern": "."
  }
}
