<div class="post-prev-next">
  <div class="prev-next-btns">
    <a href="{{ site.url }}" class="post-prev btn"
      >{% include icons/chevron-left.svg %}
      <span class="post-prev-title"> All posts</span></a
    >
  </div>
  {% include categories.html %}
  <div class="prev-next-categories">
    {% for item in site.data.has %} {% assign name = item[0] %} {% assign file =
    item[0] | append: '.svg' | prepend: 'icons/' %}
    <a
      aria-label="{{ name }}"
      title="{{name}}"
      href="/has/{{name}}/"
      class="btn category"
    >
      {% include {{file}} %} </a
    >{% endfor %}
  </div>
</div>
