<div class="post-prev-next">
  <div class="prev-next-btns">
    <a href="{{ site.url }}" class="post-prev btn"
      >{% include icons/chevron-left.svg %}
      <span class="post-prev-title"> All posts</span></a
    >
  </div>
  {% include categories.html %}
  <div class="prev-next-categories">
    {% assign categories = site.data.has | sort %} {% for item in categories
    %}{% assign name = item[0] %}
    <a
      aria-label="{{ name }}"
      title="{{name}}"
      href="/has/{{name}}/"
      class="btn category"
    >
      {% assign file = site.data.icons[name] | append: '.svg' | prepend:
      'icons/' %} {% include {{file}} %} </a
    >{% endunless %}{% endfor %}
  </div>
</div>
