{% assign media = "" | split: ',' %} {% if page.books %}{% assign media = media
| push: 'books' %}{% endif %} {% if page.tracks %}{% assign media = media |
push: 'playlist' %}{% endif %} {% if page.recipes %}{% assign media = media |
push: 'recipes' %}{% endif %}

<p>
  The {% for item in media %}<a href="#{{item}}">{{item}}</a>{% if
  forloop.rindex == 2 %}{% if forloop.length == 3%},{%endif %} and {% elsif
  forloop.length != forloop.index %}, {%endif%}{% endfor %} I enjoyed this
  season.
</p>

{% if page.books %}
<h2 id="books">Books</h2>
<div class="books">
  {% for book in page.books %}
  <a class="book" href="{{book.url}}"
    ><img
      src="https://katydecorah.com/has/img/book-{{book.isbn}}.png"
      alt="{{book.title}} by {{book.author}}"
  /></a>
  {% endfor %}
</div>
{% endif %} {% if page.tracks %}
<h2 id="playlist">Playlist</h2>
{% capture src %}{{page.playlist | slugify}}.png{% endcapture %} {% include
img.html src=src class='img-half' alt='album art' width='1000' height='1000' %}
{% if page.spotify %}
<p class="playlist-meta">
  <a href="{{ page.spotify }}" class="btn"
    >{% include icons/headphones.svg %} Listen on Spotify</a
  >
</p>
{% endif %}
<div class="playlist">
  {% for tracks in page.tracks %}
  <div class="playlist-track">
    <div class="track-name">{{ tracks.track }}</div>
    <div class="track-meta">
      <span class="track-artist">{{ tracks.artist }} </span>
      {% if tracks.album and tracks.album != '' %}<span class="track-album">
        - {{ tracks.album }}</span
      >{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% if page.recipes %}
<h2 id="recipes">Recipes</h2>
<div class="playlist">
  {% for recipe in page.recipes %}
  <div class="playlist-track">
    <div class="track-name">
      <a href="{{recipe.url}}">{{ recipe.title }}</a>
    </div>
    <div class="track-meta">
      <span class="track-artist">{{ recipe.site }} </span>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
