.search-input {
  width: 100%;
  margin: 1em auto;
  padding: 0.5em;
  font-size: 1.25em;
  font-family: inherit;
  border: 0;
  border-radius: $border-radius;
  appearance: none;
}

.result {
  margin-bottom: 2em;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  p {
    margin-bottom: 0;
  }
}

.result-emoji {
  align-self: baseline;
  width: 3em;
}
