%btn {
  display: inline-block;
  padding: 0.25em 1em;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 2em;
}

.btn {
  @extend %btn;
  margin-bottom: 0.5em;
  font-size: $font-small;
  background: var(--background-accent);

  &:hover,
  &:focus {
    color: var(--link);
    text-decoration: none;
  }

  svg {
    color: var(--text-accent);
  }

  .icon {
    height: 24px;
  }

  .icon-twitter {
    position: relative;
    top: 4px;
    left: -4px;
  }
}

.btn--large {
  font-size: $body-font-size;
}

.btn-disabled {
  color: var(--text-accent);
  &:hover,
  &:focus {
    color: var(--text-accent);
  }
}

.btn--toggle {
  position: absolute;
  top: 0;
  right: 1em;
  margin-bottom: 0;
  padding: 0 0.25em;
  border: 0;
  cursor: pointer;

  .home-page & {
    top: 0.5em;
    margin-right: 0;

    @include breakpoint(medium) {
      top: 0;
    }
  }

  @include breakpoint(medium) {
    right: 0;
  }
}
