.footer {
  position: relative;
  z-index: 100;
  margin-top: 2em;
  background: var(--background-accent);

  .container {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .nav {
    @extend %flex-center-inline;
    @extend %flex-space-between;
    @extend %flex-wrap;
    width: 100%;
    max-width: 300px;

    margin-top: 1em;
  }

  .nav-link {
    text-decoration: none;

    &.nav-link:hover,
    &.nav-link:focus {
      color: var(--link-hover);
      text-decoration: none;
    }
  }
}

.bio {
  @extend %flex;
  @extend %flex-space-between;

  margin-bottom: 1em;

  .bio-img,
  .bio-details {
    @extend %flex-child;
  }

  .bio-img.bio-img {
    @extend %flex-child-no-shrink;

    display: none;

    @include breakpoint(medium) {
      display: block;
      margin-right: 2em;
    }
  }

  .bio-img-container {
    margin: 0;
    max-width: 200px;

    img {
      margin: 0;
      border-radius: 100%;
    }
  }
}
