.home-page {
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  @include breakpoint(medium) {
    .wrapper {
      display: grid;
      grid-template-columns: 45% 55%;
    }

    .content {
      order: 2;
      margin: 0 1em 0 3em;
    }

    .footer {
      position: relative;
      order: 1;
      min-height: 100vh;
      margin-top: 0;
      padding: 2em 1em 0;
      background: var(--background-accent);

      .container {
        position: sticky;
        top: 2em;
      }
    }

    .nav {
      text-align: center;
    }

    .bio {
      flex-direction: column;
      max-width: 700px;
      margin-bottom: 0;

      .bio-details {
        max-width: 450px;
        text-align: center;
      }
      .bio-img.bio-img {
        margin-right: 0;
        margin-bottom: 1em;
        align-self: center;
      }
    }
  }

  @include breakpoint(medium) {
    background: linear-gradient(
      90deg,
      var(--background-accent) 0%,
      var(--background-accent) 47%,
      var(--background) 47%,
      var(--background) 100%
    );
  }

  .content .btn {
    margin-right: 0.5em;
  }

  .post-prev-next {
    @extend %flex-wrap;
  }

  @include breakpoint(medium) {
    .wrapper .container {
      padding: 0;
    }

    .post-prev-next {
      margin-bottom: 1em;
    }
  }
}

.all-posts {
  .home-page & {
    max-width: 600px;
  }

  .post-meta {
    .no-flexbox & {
      padding-top: 2em;
    }
  }

  .post-date {
    color: var(--text-accent);
  }
}

.post-link {
  @extend %flex;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;

    .post-img {
      background-color: transparent;
      transition: var(--link-transition);
    }
  }
}

.project-image,
.post-img-container {
  display: none;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 10em;
    height: 7.5em;
    margin-right: 2em;
    overflow: hidden;
    border-radius: $border-radius-img;

    .post-img {
      width: 100%;
      height: 100%;
      margin: 0;
      background-position: center;
      background-size: cover;
      transition: var(--link-transition);
    }
  }
}

.paginator {
  margin-top: 1em;
}

.post-elsewhere-label .icon {
  color: var(--link);
  font-size: 0.8em;
}

.post-tags {
  .post-page & {
    margin-top: 0.25em;
  }

  .post-tag {
    @extend %xs;

    display: inline-block;
    margin-right: 1.5em;
    text-decoration: none;

    svg {
      width: 1em;
      color: var(--link-hover);
      vertical-align: middle;
    }
  }
}

.nav-link {
  @extend %flex-child-no-shrink;
  @extend %flex-center-inline;

  position: relative;
  width: 45px;
  height: 45px;
  padding: 0.3em 0.5em;
}
