.home-page {
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  @include breakpoint(medium) {
    .wrapper {
      display: grid;
      grid-template-columns: 45% 55%;
    }

    .content {
      order: 2;
      margin: 0 1em 0 3em;
    }
    .nav {
      text-align: center;
    }
  }

  @include breakpoint(medium) {
    background: linear-gradient(
      90deg,
      var(--background-accent) 0%,
      var(--background-accent) 47%,
      var(--background) 47%,
      var(--background) 100%
    );
  }

  .content .btn {
    margin-right: 0.5em;
  }

  .post-prev-next {
    @extend %flex-wrap;
  }

  @include breakpoint(medium) {
    .wrapper .container {
      padding: 0;
    }

    .post-prev-next {
      margin-bottom: 1em;
    }
  }
}

.all-posts {
  .home-page & {
    max-width: 600px;
  }
}

.project-image,
.post-img-container {
  display: none;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 10em;
    height: 7.5em;
    margin-right: 2em;
    overflow: hidden;
    border-radius: $border-radius-img;

    .post-img {
      width: 100%;
      height: 100%;
      margin: 0;
      background-position: center;
      background-size: cover;
      transition: var(--link-transition);
    }
  }
}

.paginator {
  margin-top: 1em;
}

.post-elsewhere-label .icon {
  color: var(--link);
  font-size: 0.8em;
}
