.icon-ul {
  margin-left: 1.5em;
  padding-left: 0;
  list-style-type: none;
}

.icon-ul > li {
  position: relative;
}

.icon-ul a {
  text-decoration: none;
}

.icon-li {
  position: absolute;
  top: 0.25em;
  left: -2.14285714em;
  width: 2.14285714em;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.feather-external-link {
  width: 20px;
  margin-left: 0.25em;
  vertical-align: middle;
}
