.container {
  position: relative;
  max-width: $container-width;
  min-height: 1em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.columns {
  columns: 2 10em;
  column-gap: 1em;

  @include breakpoint(medium) {
    font-size: $font-xs;
    column-gap: 3em;
  }

  .icon-ul {
    margin-top: 0;
  }

  li {
    display: block;
    padding: 0.2em 0;
    break-inside: avoid;
  }
}

.emoji {
  display: inline-block;
  max-width: none;
  margin: 0;
}

.paginator {
  margin-top: 1em;
}
