.container {
  @extend %clearfix;
  position: relative;
  max-width: $container-width;
  min-height: 1em;
  margin-right: auto;

  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.container-large {
  max-width: $media-max;
}

.half-left,
.half-right {
  @include breakpoint(medium) {
    float: left;
    width: 48%;
  }
}

.half-left {
  @include breakpoint(medium) {
    margin-right: 4%;
  }
}

.columns {
  columns: 3 100px;
  column-gap: 3em;

  @include breakpoint(medium) {
    font-size: $font-xs;
  }

  .icon-ul {
    margin-top: 0;
  }

  li {
    display: block;
    padding: 0.2em 0;
    break-inside: avoid;
  }
}

.emoji {
  display: inline-block;
  max-width: none;
  margin: 0;
}
