.page-adventure-map {
  .map {
    width: 100%;
    min-height: 429px;
    margin-top: -3.75em;
    margin-bottom: -3.5em;

    .leaflet-popup-content,
    .leaflet-popup-content-wrapper {
      padding: 0;
    }

    h2 {
      @extend %fancy-type;

      margin: 0;
      padding: 0.5em;
    }

    img {
      max-width: 100%;
      margin: 0;
      border-radius: 3px 3px 0 0;
    }
  }
}

.map-select {
  position: absolute;
  top: 4.9em;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 200px;
  height: 450px;
  overflow: scroll;
  font-size: $font-xs;
  background: var(--background-accent);

  .filter,
  .year-group {
    display: none;
  }

  .filter-label {
    display: block;
    padding: 0.25em 1em;
    background: var(--background-accent);
    cursor: pointer;

    &:hover,
    &:focus {
      background: var(--text-accent);
    }
  }

  .year-child {
    padding: 0.2em 1em;
    cursor: pointer;

    &:hover,
    &:focus {
      background: var(--text-accent);
    }
  }
}

.map-attribution {
  position: absolute;
  right: 1em;
  bottom: 1em;
  display: block;
  color: var(--link-hover);
  font-size: 13px;
}
