.playlist-meta {
  text-align: center;

  svg {
    margin-right: 0.25em;
    vertical-align: sub;
  }
}

.playlist,
.book-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  .book {
    display: flex;
  }

  .book-img {
    flex-shrink: 0;
    width: 75px;
    margin-right: 1em;
  }
}

.book-name,
.track-name {
  @extend %fancy-type;
  line-height: 1.3;
}

.book-authors,
.track-artist {
  font-weight: $body-font-bold;
}

.book-meta,
.track-meta {
  color: var(--text-accent);
  font-size: $font-xs;
}

.rdio-playlist-link {
  margin-bottom: 2em;
}
