.post {
  @media (max-width: $container-width) {
    padding-right: 1em;
    padding-left: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  figcaption,
  pre,
  blockquote,
  .playlist,
  table,
  .footnotes,
  .books,
  .note {
    margin-right: auto;
    margin-left: auto;
  }

  ol,
  ul {
    max-width: $container-width - ($body-font-size * 2);
  }

  p,
  pre,
  .playlist,
  figcaption,
  .caption,
  h1,
  h2,
  h3,
  h4,
  blockquote,
  .note,
  .books,
  .footnotes {
    max-width: $container-width - ($body-font-size * 2);
  }

  // scss-lint:disable SelectorFormat
  .photos,
  .cp_embed_iframe,
  embed,
  .gist,
  iframe,
  .media,
  table {
    position: relative;
    display: block;
    max-width: $media-max;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    border: 0;

    @media (max-width: $media-max) and (min-width: $container-width) {
      padding-right: 1em;
      padding-left: 1em;
    }

    img,
    video {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    picture img {
      margin-bottom: 0;
    }

    picture ~ .caption,
    img ~ .caption {
      margin: 0;
    }

    .caption ~ picture,
    .caption ~ img {
      margin-top: 1em;
    }

    [data-src] {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  // images without .photos wrapper
  picture:not(.photos picture) {
    max-width: $container-width;
    margin: 0 auto;
  }

  .img-half:not(.photos .img-half) {
    max-width: 500px;
    margin: 0 auto;
  }

  .photos {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    picture,
    caption,
    video,
    iframe {
      grid-column: span 12;
    }

    .img-half {
      @include breakpoint(medium) {
        grid-column: span 6;
      }
    }

    // stylelint-disable selector-max-specificity
    > .img-half:nth-child(1):last-child {
      @include breakpoint(medium) {
        grid-column: 4 / span 6;
      }
    }
    // stylelint-enable selector-max-specificity

    .img-thirds {
      @include breakpoint(medium) {
        grid-column: span 4;
      }
    }

    .img-fourths {
      @include breakpoint(medium) {
        grid-column: span 3;
      }
    }

    .img-split-wide,
    .img-wide {
      @include breakpoint(medium) {
        grid-column: span 7;
      }
    }

    .img-split-tall,
    .img-tall {
      @include breakpoint(medium) {
        grid-column: span 5;
      }
    }
  }

  table {
    empty-cells: show;
    border: 1px solid var(--background-accent);
    border-collapse: collapse;
    border-spacing: 0;

    caption {
      padding: 1em 0;
      color: var(--text-color);
      font: italic 85%/1 "arial", sans-serif;
      text-align: center;
    }

    td {
      background-color: var(--background-accent);
    }

    td,
    th {
      margin: 0;
      padding: 0.5em 1em;
      overflow: visible;
      font-size: inherit;
      border-width: 0 0 0 1px;
      border-left: 1px solid var(--background-accent);
    }

    td:first-child,
    th:first-child {
      border-left-width: 0;
    }

    thead {
      color: var(--text-color);
      text-align: left;
      vertical-align: bottom;
      background-color: var(--background-accent);
    }
  }

  .note {
    @extend %flex-container;
    @extend %flex-space-between;
    margin-bottom: 1em;
    padding: 1em 1em 0;
    background: var(--background-accent);
    border-left: 0.25em solid var(--link);
    border-radius: 0 $border-radius $border-radius 0;

    .svg-wrapper {
      @include breakpoint(medium) {
        display: block;
        margin-top: 0.25em;
        color: var(--link);

        svg {
          width: 1.25em;
          height: 1.25em;
          margin-right: 1em;
          fill: var(--link);
        }
      }
      display: none;
    }
  }

  .instagram-media {
    width: 100%;
    margin: 1em auto;

    @include breakpoint(medium) {
      width: 65%;
    }
  }
}

.post-header {
  position: relative;

  .container {
    z-index: 1;
  }
}

.post-twitter {
  margin-bottom: 1em;
  svg {
    width: 20px;
    margin-right: 0.25em;
    vertical-align: sub;
  }
}

.post-locations {
  color: var(--text-accent);

  .post-location svg {
    color: var(--text-accent);
    vertical-align: text-bottom;
  }
}

.tag {
  display: inline-block;
  margin-bottom: 0.25em;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.tag-block {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.25em 0.75em;
  font-size: $font-xs;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: var(--background-accent);
  border-radius: 1em;
}

.post-date-updated {
  display: block;
  font-size: $font-xs;
  text-align: inherit;
}

.post-meta-header {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  color: var(--text-accent);
}

svg {
  width: 1em;
  vertical-align: top;
}
.post-meta-breadcrumbs {
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--background-accent);

  .home-page & {
    margin-bottom: 0.5em;

    @include breakpoint(medium) {
      margin-bottom: 0;
      padding-bottom: 0;
      background: transparent;
    }
  }
}
.breadcrumbs,
.post-meta-date {
  font-size: $font-xs;
}

.post-meta-date {
  .post-meta-header-has-map & {
    display: inline-block;
    margin-left: -0.5em;
    padding: 0.1em 0.5em;
    color: var(--text-color);
    background-color: var(--background-accent);
    border-radius: 0.25em;
  }
}

.post-meta-link {
  text-decoration: none;
}

.post-prev-next {
  @extend %flex-container;

  flex-flow: column wrap;

  margin-top: 1em;

  .prev-next-btns {
    @extend %flex-container;
    @extend %flex-wrap;

    margin-bottom: 1em;
  }

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.post-prev,
.post-next {
  @extend %flex-center-inline;

  position: relative;
  transition: var(--link-transition);

  @include breakpoint(medium) {
    min-height: 2em;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    transition: var(--link-transition);
  }
}

.post-prev {
  margin-right: 1em;
}

.post-next {
  @include breakpoint(small) {
    margin-top: 1em;
  }

  @include breakpoint(medium) {
    text-align: right;
  }
}

.post-prev-title,
.post-next-title {
  display: block;

  @include breakpoint(medium) {
    width: 100%;
  }
}

.post-prev-title {
  padding-left: 0.5em;
}

.post-next-title {
  padding-right: 0.5em;
}

figure {
  margin: 0 auto;
}

figcaption,
.caption,
caption {
  color: var(--text-accent);
  font-size: $font-xs;
}

figcaption {
  margin-top: -1em;
  margin-bottom: 2em;
}

.caption {
  position: relative;
  z-index: 1;
  margin-top: -2.5em;
  margin-right: auto;
  margin-left: auto;
}

.footnotes {
  margin-top: 4em;

  ol {
    padding-left: 1em;
  }

  li {
    font-size: $font-xs;

    &:target {
      color: var(--text-color);
    }
  }
}

.reversefootnote,
.footnote {
  @extend %xs;
  margin: 0 0.25em;
  padding: 0 0.25em;
  color: var(--text-color);
  text-decoration: none;
  background: var(--background-accent);
  border-radius: $border-radius;
}

.badge {
  @extend %xs;
  padding: 0 0.5em;
  vertical-align: middle;
  background: var(--background-accent);
  border-radius: 1em;
}

.books {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));

  .book {
    display: block;
    img {
      height: 150px;
      margin: 0;
    }
  }
}

.book-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  .book {
    display: flex;
  }

  .book-img {
    flex-shrink: 0;
    width: 75px;
    margin-right: 0.5em;
  }
}
