%body-type {
  font-weight: $body-font-weight;
  font-family: $body-font-family;
}

%fancy-type {
  font-weight: $fancy-font-weight;
  font-family: $fancy-font-family;
}

%headings-type {
  font-weight: $body-font-weight;
}

%code-type {
  font-family: $code-font-family;
}

strong {
  font-weight: $body-font-bold;
}

em {
  font-style: italic;
}

.lead {
  font-size: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1,
.h1 {
  @extend %fancy-type;

  margin-top: 0;
  margin-bottom: 1em;
  font-size: $h1-size;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
}

h2,
.h2,
h3,
.h3 {
  @extend %headings-type;
}

h2,
.h2 {
  font-size: $h2-size;
}

h3,
.h3 {
  font-size: $h3-size;
}

h4,
.h4 {
  font-size: $h4-size;
}

.xl {
  font-size: 1.5em;
}

%large,
.text-large {
  font-size: 1.25em;
}

%small,
small,
.text-small {
  font-size: $font-small;
}

%xs,
.text-xsmall {
  font-size: $font-xs;
}

ul,
ol {
  margin-bottom: 1em;
}

ol {
  list-style: decimal;
}

ol ul,
ul ul,
ul ol,
ol ol {
  margin-bottom: unset;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  max-width: 70%;
  margin: 2em auto;
  border: 1px solid var(--background-accent);
}

blockquote {
  position: relative;
  margin: 1em auto;
  padding: 1em;
  font-style: italic;
  background: var(--background-accent);
  border-radius: $border-radius;

  > p:last-child {
    margin-bottom: 0;
  }

  cite {
    @extend %code-type;

    display: block;
    font-size: $font-small;
    font-style: normal;
  }
}

::selection {
  color: var(--background-accent);
  background: var(--text-color);
}

.color-accent {
  color: var(--text-accent);
}
