%btn {
  display: inline-block;
  padding: 0.25em 1em;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 2em;
}

button {
  font-family: inherit;
  border: 0;
  cursor: pointer;
}

.btn {
  @extend %btn;
  margin-bottom: 0.5em;
  font-size: $font-small;
  background: var(--background-accent);

  &:hover,
  &:focus {
    color: var(--link);
    text-decoration: none;
  }

  svg {
    color: var(--text-accent);
  }

  .icon {
    height: 24px;
  }

  .icon-twitter {
    position: relative;
    top: 4px;
    left: -4px;
  }
}

.btn--large {
  font-size: $body-font-size;
}

.btn-disabled {
  color: var(--text-accent);
  &:hover,
  &:focus {
    color: var(--text-accent);
  }
}

.btn--toggle {
  margin: 1em 0;
  background: var(--background);

  svg {
    margin-right: 0.5em;
  }
}
