.bio {
  @extend %flex;
  @extend %flex-space-between;

  margin-bottom: 1em;

  .bio-img,
  .bio-details {
    @extend %flex-child;
  }

  .bio-img {
    width: 200px;
    height: 200px;
    background: var(--background);
    border-radius: 100%;
  }

  .bio-img.bio-img {
    @extend %flex-child-no-shrink;

    display: none;

    @include breakpoint(medium) {
      display: block;
      margin-right: 2em;
    }
  }

  .bio-img-container {
    max-width: 200px;
    margin: 0;

    img {
      margin: 0;
      border-radius: 100%;
    }
  }
}

.home-page {
  @include breakpoint(medium) {
    .bio {
      flex-direction: column;
      max-width: 700px;
      margin-bottom: 0;

      .bio-details {
        max-width: 450px;
        text-align: center;
      }
      .bio-img.bio-img {
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
  }
}
