.post .photos .map-iceland {
  margin-bottom: 1em;
  background: var(--always-background);
}

.post {
  @media (max-width: $container-width) {
    padding-right: 1em;
    padding-left: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  figcaption,
  pre,
  blockquote,
  table,
  .footnotes,
  .books,
  .note,
  .book-list {
    margin-right: auto;
    margin-left: auto;
  }

  ol,
  ul {
    max-width: $container-width - ($body-font-size * 2);
  }

  p,
  pre,
  figcaption,
  .caption,
  h1,
  h2,
  h3,
  h4,
  blockquote,
  .note,
  .footnotes {
    max-width: $container-width - ($body-font-size * 2);
  }

  video + video {
    @include breakpoint(medium) {
      margin-left: 0.65%;
    }
  }

  // scss-lint:disable SelectorFormat
  .photos,
  .cp_embed_iframe,
  embed,
  .gist,
  iframe,
  .playlist,
  .collection-items,
  .media,
  table {
    position: relative;
    display: block;
    max-width: $media-max;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    border: 0;

    @media (max-width: $media-max) and (min-width: $container-width) {
      padding-right: 1em;
      padding-left: 1em;
    }

    img,
    video {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    picture img {
      margin-bottom: 0;
    }

    picture ~ .caption,
    img ~ .caption {
      margin: 0;
    }

    .caption ~ picture,
    .caption ~ img {
      margin-top: 1em;
    }

    [data-src] {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  // images without .photos wrapper
  picture:not(.photos picture) {
    max-width: $container-width;
    margin: 0 auto;
  }

  .img-half:not(.photos .img-half) {
    max-width: 500px;
    margin: 0 auto;
  }

  .photos {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    picture,
    caption,
    video,
    iframe {
      grid-column: span 12;
    }

    .img-half {
      @include breakpoint(medium) {
        grid-column: span 6;
      }
    }

    // stylelint-disable selector-max-specificity
    > .img-half:nth-child(1):last-child {
      @include breakpoint(medium) {
        grid-column: 4 / span 6;
      }
    }
    // stylelint-enable selector-max-specificity

    .img-thirds {
      @include breakpoint(medium) {
        grid-column: span 4;
      }
    }

    .img-fourths {
      @include breakpoint(medium) {
        grid-column: span 3;
      }
    }

    .img-split-wide,
    .img-wide {
      @include breakpoint(medium) {
        grid-column: span 7;
      }
    }

    .img-split-tall,
    .img-tall {
      @include breakpoint(medium) {
        grid-column: span 5;
      }
    }
  }

  .collection-items {
    display: grid;
    grid-gap: 1rem 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    margin: 1em auto;

    .collection-item {
      display: block;
      font-size: 16px;
      line-height: 1.3;
      text-decoration: none;

      img {
        margin-bottom: 0;
      }

      .collection-item-img-recipe {
        width: 100%;
        height: 140px;
        object-fit: cover;
      }
    }

    .collection-item-meta {
      color: var(--text-accent);
    }
  }

  .collection-items--large {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }

  table {
    empty-cells: show;
    border: 1px solid var(--background-accent);
    border-collapse: collapse;
    border-spacing: 0;

    caption {
      padding: 1em 0;
      color: var(--text-color);
      font: italic 85%/1 "arial", sans-serif;
      text-align: center;
    }

    td {
      background-color: var(--background-accent);
    }

    td,
    th {
      margin: 0;
      padding: 0.5em 1em;
      overflow: visible;
      font-size: inherit;
      border-width: 0 0 0 1px;
      border-left: 1px solid var(--background-accent);
    }

    td:first-child,
    th:first-child {
      border-left-width: 0;
    }

    thead {
      color: var(--text-color);
      text-align: left;
      vertical-align: bottom;
      background-color: var(--background-accent);
    }
  }

  .instagram-media {
    width: 100%;
    margin: 1em auto;

    @include breakpoint(medium) {
      width: 65%;
    }
  }
}

.post-header {
  position: relative;

  .container {
    z-index: 1;
  }
}

figure {
  margin: 0 auto;
}

figcaption,
.caption,
caption {
  color: var(--text-accent);
  font-size: $font-xs;
}

figcaption {
  margin-top: -1em;
  margin-bottom: 2em;
}

.caption {
  position: relative;
  z-index: 1;
  margin-top: -2.5em;
  margin-right: auto;
  margin-left: auto;
}

.footnotes {
  margin-top: 4em;

  ol {
    padding-left: 1em;
  }

  li {
    font-size: $font-xs;

    &:target {
      color: var(--text-color);
    }
  }
}

.reversefootnote,
.footnote {
  @extend %xs;
  margin: 0 0.25em;
  padding: 0 0.25em;
  color: var(--text-color);
  text-decoration: none;
  background: var(--background-accent);
  border-radius: $border-radius;
}

.badge {
  @extend %xs;
  padding: 0 0.5em;
  vertical-align: middle;
  background: var(--background-accent);
  border-radius: 1em;
}

.book-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  max-width: $media-max;

  @media (max-width: $media-max) and (min-width: $container-width) {
    padding-right: 1em;
    padding-left: 1em;
  }

  .book {
    display: flex;
  }

  .book-img {
    flex-shrink: 0;
    width: 75px;
    margin-right: 0.5em;
  }
}
