<div class="user-toggle">
  <div role="status" class="visually-hidden js-mode-status"></div>
  <button
    class="btn btn--toggle toggle-button js-mode-toggle"
    aria-label="Switch theme"
  >
    <span class="toggle-button__icon" aria-hidden="true"
      ><span class="toggle-button__icon-dark"
        >{% include icons/sun.svg %} Use light theme</span
      >
      <span class="toggle-button__icon-light"
        >{% include icons/moon.svg %} Use dark theme</span
      ></span
    >
  </button>
</div>
<script src="{{site.baseurl}}/assets/toggle.js"></script>
