<div class="playlist-container">
  <div class="playlist-media">
    {% capture src %}{{page.playlist | slugify}}.png{% endcapture %} {% include
    img.html src=src class='img-half' alt='album art' width='1000' height='1000'
    %} {% if page.spotify or page.apple %}{% assign link_url = page.spotify |
    default: page.apple %}
    <p class="playlist-meta">
      <a href="{{ link_url }}" class="btn"
        >{% include icons/headphones.svg %} Listen on {% if page.spotify
        %}Spotify{% else %}Apple Music{% endif %}</a
      >
    </p>
    {% endif %}
  </div>

  <ul class="playlist">
    {% for tracks in page.tracks %}
    <li class="playlist-track">
      <div class="track-name"><strong>{{ tracks.track }}</strong></div>
      <div class="track-meta">
        <span class="track-artist">{{ tracks.artist }} </span>
        {% if tracks.album and tracks.album != '' %}<span class="track-album">
          - {{ tracks.album }}</span
        >{% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
