<header
  class="post-meta-header{% if page.locations %} post-meta-header-has-map{% endif %}"
>
  <nav class="post-meta-breadcrumbs">
    <div class="container">
      <ul class="text-xsmall {% if layout.hideHeader %} show-small{% endif %}">
        <li><a class="post-meta-link" href="{{site.url}}">Katy DeCorah</a></li>
        {% if page.title != 'Katy DeCorah' %}
        <li>{% include icons/chevron-right.svg %}</li>
        {% if site.baseurl != '' and page.title != site.title %}
        <li>
          <a class="post-meta-link" href="{{site.baseurl}}/">{{site.title}}</a>
        </li>
        <li>{% include icons/chevron-right.svg %}</li>
        {% endif %} {% if page.categories[0] %}
        <li>
          <a class="post-meta-link" href="/{{ page.categories[0] | downcase}}"
            >{{ page.categories[0] | downcase}}</a
          >
        </li>
        {% elsif page.titleDowncase %}
        <li class="post-meta-link">{{ page.title | downcase }}</li>
        {% else %}
        <li class="post-meta-link">{{ page.title }}</li>
        {% endif %} {% endif %}
      </ul>
    </div>
  </nav>
  {% if page.categories[0] %}
  <div class="container">
    <div class="post-meta-date">
      {{ page.date | date: "%B %-d, %Y" }}{% if page.elsewhere-site %} |
      <a href="{{ page.elsewhere-link }}">{{ page.elsewhere-site }}</a>{% endif
      %}
    </div>
  </div>
  {% endif %}
</header>
