---
layout: default
---

{% assign category = page.title | downcase %} {% if category == 'all' %} {%
assign posts = site.posts %} {% else %} {% assign posts =
site.categories[category] %} {% endif %}

<div class="post-header">
  <a href="{{site.url}}">{% include shapes/one.html %}</a>
  <h1>{{page.title}}</h1>
  <div class="nav-category-container">
    <strong>Categories</strong>{% include navigation-category.html %}
  </div>
</div>

<ul class="posts">
  {% for post in posts %} {% assign excerpt = post.excerpt | strip_html |
  strip_newlines %}
  <li>
    <div>
      <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
    </div>
    <div>
      {{ post.date | date: "%B %-d, %Y" }} {% if excerpt != '' %} &bull;
      {{excerpt}} {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
