<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {%- include layout/head.html -%}
  </head>
  <body
    class="{{layout.layout | slugify}}-page {{page.layout | slugify}}-page page-{{ page.title | slugify }}"
  >
    <a class="skip" href="#content">Skip to content</a>
    {%- include post/post-meta.html -%}
    <div class="wrapper">
      <main
        id="content"
        class="{% if page.layout == 'default' %}container {% endif %}content"
      >
        <h1
          class="{%- if page.hideTitle or layout.hideTitle -%}visually-hidden{%- endif -%}"
        >
          {{ page.title }}
        </h1>
        {{ content }}
      </main>
      {%- include layout/footer.html -%} {%- include layout/end.html -%}
    </div>
  </body>
</html>
