<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="p:domain_verify" content="5ec32589eebd416f82c15e20ba199848" />
    <link rel="me" href="https://github.com/katydecorah" />
    <link rel="me" href="https://front-end.social/@katydecorah" />
    <link
      rel="webmention"
      href="https://webmention.io/katydecorah.com/webmention"
    />
    <link rel="pingback" href="https://webmention.io/katydecorah.com/xmlrpc" />
    {% feed_meta %}
    <title>{{site.title}}</title>
    <link
      href="{{site.baseurl}}/assets/site.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {% if page.locations %} {% include post/post-map-header.html %} {% endif %}
    <header>
      <div class="container">
        {% include shapes/one.html %}

        <nav class="post-meta-breadcrumbs">
          <ul class="">
            <li>
              <a class="header-title" href="{{site.url}}">Katy DeCorah</a>
            </li>
            {% if page.title != 'Katy DeCorah' %} {% if site.baseurl != '' %} {%
            if page.title != site.title %}
            <li>{% include icons/chevron-right.svg %}</li>
            <li>
              <a class="post-meta-link" href="{{site.baseurl}}/"
                >{{site.title}}</a
              >
            </li>
            {% endif %}
            <li>{% include icons/chevron-right.svg %}</li>
            <li class="post-meta-link">{{ page.title }}</li>
            {% endif %} {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <main>{{content}} {% include shapes/hr.html %}</main>
    <footer>
      <div class="container">
        <div class="footer-bio">
          <p>{% include layout/bio.html %}</p>
        </div>
        <div class="footer-links">
          <strong>Here</strong>
          {%- for link in site.links -%} {%- assign icon = link.icon | prepend:
          'icons/' | append: '.svg' -%}
          <a href="{{site.url}}{{ link.url }}" class="icon-link"
            >{% include {{icon}} %} {{ link.text }}</a
          >
          {%- endfor -%}
        </div>
        <div class="footer-links">
          <strong>And there</strong>
          {%- for link in site.social_links -%} {%- assign icon = link.icon |
          prepend: 'icons/' | append: '.svg' -%}
          <a href="{{ link.url }}" class="icon-link"
            >{% include {{icon}} %} {{ link.text }}</a
          >
          {%- endfor -%}
        </div>
      </div>
    </footer>
    {% if page.categories[0] == "code" %}
    <script async src="https://codepen.io/assets/embed/ei.js"></script>
    {% endif %} {% if page.title == "Search" %}
    <script src="/assets/lunr.min.js"></script>
    <script src="/assets/lunr-feed.js"></script>
    {% endif %}
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-34842039-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-34842039-1");
    </script>
  </body>
</html>
