---
layout: default
---

<div class="home-layout">
  <div class="home-left">
    <h2>Recent posts</h2>
    <ul class="posts">
      {% for post in site.posts limit:5 %}
      <li>
        <div>
          <strong> <a href="{{ post.url }}">{{ post.title }}</a></strong>
        </div>
        <div>
          {{ post.date | date: "%B %-d, %Y" }} &bull; {{post.excerpt |
          strip_html}}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="home-right">
    <h2>About</h2>
    <p>{% include about-me.html %}</p>
    <h2>Older posts</h2>
    {% include navigation-category.html %}
  </div>
</div>
