---
layout: default
---

<div class="home-layout">
  <div class="home-left">
    <h2>Recent posts</h2>
    <ul class="posts">
      {% for post in site.posts limit:5 %}
      <li>
        <div>
          <strong> <a href="{{ post.url }}">{{ post.title }}</a></strong>
        </div>
        <div>
          {{ post.date | date: "%B %-d, %Y" }} &bull; {{post.excerpt |
          strip_html}}
        </div>
      </li>
      {% endfor %}
    </ul>
    <h2>Older posts</h2>
    {% include navigation-category.html %}
  </div>
  <div class="home-right">
    <h2>About</h2>
    <p>{% include about-me.html %}</p>
    <h2 style="margin-top: 2rem">Now reading</h2>
    {% assign nowReading = site.data['now-reading'] %}
    <ul class="collection-items">
      <li>
        <div class="collection-item">
          <div class="collection-item-img-wrapper">
            <img
              loading="lazy"
              class="collection-item-img-book"
              alt=""
              src="https://yo.katydecorah.com/book-{{nowReading.isbn}}.png"
              style="max-height: 9rem"
            />
          </div>
          <div><strong>{{nowReading.title}}</strong></div>
          <div class="collection-item-meta">
            <div>by {{nowReading.authors | join: ", "}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
