---
layout: default
hideTitle: true
---

<div
  class="
    post-header{%
    if
    page.locations
    %}
    post-header-has-map{%
    else
    %}
    post-header-no-map{%
    endif
    %}
  "
>
  {% include post-map-header.html %}
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="post" id="content">
  {% if page.type == 'season' %}{% include post-season.html %}{% else %}{{
  content }}{% endif %} {% include post-recipe.html %}
  <hr />
  {% include support.html org=page.give %}
</div>
<div class="container">
  <div class="post-footer">
    <div class="post-footer-meta">
      {% include locations.html %} {% include tags.html %}
    </div>
    {% include prev-next.html %}
  </div>
</div>
<script>
  for (let h of document.querySelectorAll("h2[id],h3[id],h4[id]"))
    h.innerHTML = ` <a class="link-header" href="#${h.id}">${h.innerHTML}</a>`;
</script>
