---
layout: default
hideTitle: true
---

<div
  class="
    post-header{%
    if
    page.locations
    %}
    post-header-has-map{%
    else
    %}
    post-header-no-map{%
    endif
    %}
  "
>
  {% include post-map-header.html %}
  <div class="container"><h1>{{ page.title }}</h1></div>
</div>
<div class="post" id="content">
  {% include post-playlists.html %} {% unless page.categories[0] == 'playlists'
  %}{{ content }}{% endunless %} {% include post-recipe.html %}
  <hr />
  {% include support.html org=page.give %}
</div>
<div class="container">
  <div class="post-footer">
    <div class="post-footer-meta">
      {% include locations.html %} {% include tags.html %}
    </div>
    {% include prev-next.html %}
  </div>
</div>
<script>
  /* Care/of https://ben.balter.com/2014/03/13/pages-anchor-links/ */
  $(function () {
    return $("h2, h3, h4, h5, h6").each(function (i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr("id");
      icon = "{% include icons/link.html %}";
      if (id) {
        return $el.prepend(
          $("<a />")
            .addClass("header-link")
            .attr("href", "#" + id)
            .html(icon)
        );
      }
    });
  });
</script>
