.books {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  max-width: $media-max;

  @media (max-width: $media-max) and (min-width: $container-width) {
    padding-right: 1em;
    padding-left: 1em;
  }

  .book {
    display: block;

    img {
      height: 150px;
      margin: 0;
    }
  }
}
