.books {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  max-width: $media-max;
  list-style: none;
  padding: 0;

  @media (max-width: $media-max) and (min-width: $container-width) {
    padding-right: 1em;
    padding-left: 1em;
  }

  .book {
    display: block;

    img {
      height: 150px;
      margin: 0;
    }
  }
}

.book-tags {
  display: flex;
  column-gap: 0.25em;
}

.book-recommend {
  width: 27px;
  height: 27px;
  display: flex;
  align-content: center;
  align-items: center;
  background: var(--background-accent);
  border-radius: 100%;
  justify-content: center;
  color: var(--link);
}
