.playlist {
  margin-bottom: 2em;
  columns: 3 290px;
  column-gap: 3em;
  list-style: none;
  padding: 0;
}

.playlist-track {
  break-inside: avoid;
  margin-bottom: 1em;
}

.playlist-meta {
  text-align: center;

  svg {
    margin-right: 0.25em;
    vertical-align: sub;
  }
}
