.post-link {
  @extend %flex;

  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
