$map-height: 10em;
// scss-lint:disable VendorPrefixes, PropertySortOrder
.post-header-has-map {
  margin-bottom: 1em;

  @include breakpoint(medium) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    height: $map-height;
    margin-top: -3em;
    overflow: hidden;
  }

  .container {
    width: 100%;
  }

  h1 {
    margin: 0;

    @include breakpoint(medium) {
      color: var(--always-dark);
      font-size: $h1-size-map;
    }
  }
}

.post-map-header {
  position: relative;

  .post-page & {
    position: absolute;
  }

  top: 0;
  left: 0;
  width: 100%;
  height: $map-height;
  overflow: hidden;
  background: var(--always-background);

  @include breakpoint(small) {
    display: none;
  }
}

.post-map-header-image {
  display: none;
  max-width: none;

  @include breakpoint(medium) {
    display: block;
    height: $map-height;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}

.map-attribution {
  position: absolute;
  right: 1em;
  bottom: 1em;
  display: block;
  color: var(--link-hover);
  font-size: $font-xs;
}
